/* ---------------------------------------------------------------------- */
/*	Font
/* ---------------------------------------------------------------------- */
h1,	h2,	h3,	h4,	h5,	h6{
	font-family: $font-family2;
	font-weight: normal;
	color: $primary-color;
	margin: 0;

	a{
		color: inherit;
	}
}

h1{font-size: 44px;}
h2{font-size: 40px;}
h3{font-size: 36px;}
h4{font-size: 30px;}
h5{font-size: 24px;}
h6{font-size: 18px;}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

p, li{
	font-size: $font-size;
	color: $second-color;
	margin: 0;
	padding: 0;
}

a{
	color:$primary-color;
	text-decoration:none;
	@include transition;

	&:hover{
		color: $second-color;
	}
}

input, select, textarea, button{
	font-family:$font-family;
	color:$primary-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

@media screen and (max-width: $small){
	h1{font-size: 36px;}
	h2{font-size: 32px;}
	h3{font-size: 28px;}
	h4{font-size: 22px;}
	h5{font-size: 16px;}
	h6{font-size: 10px;}
}