/* ---------------------------------------------------------------------- */
/*	Basic Class
/* ---------------------------------------------------------------------- */
@include sprites($spritesheet-sprites);
.ico{
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/sprite.png);
}

.hidden   { display: none !important; }
.block    { display: block !important; }
.relative { position: relative !important; }

@for $i from 0 through 10 {
  .mb-#{$i} { margin-bottom: 10px * $i !important; }
  .mt-#{$i} { margin-top: 10px * $i !important; }
  .ml-#{$i} { margin-left: 10px * $i !important; }
  .mr-#{$i} { margin-right: 10px * $i !important; }

  .pb-#{$i} { padding-bottom: 10px * $i !important; }
  .pt-#{$i} { padding-top: 10px * $i !important; }
  .pl-#{$i} { padding-left: 10px * $i !important; }
  .pr-#{$i} { padding-right: 10px * $i !important; }
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }

.columns-2{
	@include columns(2);
}

.columns-3{
	@include columns(3);
}

.js-click{
  cursor: pointer;
}

.table-cell{
  display: table-cell;
}