/* ---------------------------------------------------------------------- */
/*	Settings
/* ---------------------------------------------------------------------- */

/* Import Fonts | Font Awesome */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700,500|Hind:400,300,700');

$browser-context: 16; // Default

$red: #fc0c39;
$primary-color: #231f20;	// Black
$second-color: #ffc800;		// Yellow
$third-color: #fc0c39;		// Red
$four-color: #0d9de7;		// Blue
$five-color: #13c4a3;		// Green

$border-color: #636363;

$font-family: 'Hind', sans-serif;
$font-family2: 'Hind Siliguri', sans-serif;
$font-size: 14px;

$padding: 20px;

$logo-width: 168px;
$logo-height: 51px;
$logo-image: url('../images/trespix.png');

$facebook-color: #346dad;
$twitter-color: #4ab9e2;
$youtube-color: #f64c4c;
$linkedin-color: #345fad;

/* ---------------------------------------------------------------------- */
/*	Settings for Responsive
/* ---------------------------------------------------------------------- */
$large: 1200px;
$big: 1440px;
$medium: 1199px;
$small: 991px;
$mobile: 767px;