/* ---------------------------------------------------------------------- */
/*	Buttons
/* ---------------------------------------------------------------------- */
.btn{
	display: inline-block;
	padding: 5px 20px;
	height: auto;
	color: #fff;
	background: $third-color;
	font-family: $font-family2;
	font-weight: bold;
	text-transform: uppercase;
	@include rem2(14px);
	text-align: center;
	@include border-radius(5px);
	@include transition;

	&:hover{
		color: #fff;
		background: $four-color;
	}

	@media screen and (max-width: $small){
		max-width: 100%;
	}
}