/* ---------------------------------------------------------------------- */
/*	CKEditor
/* ---------------------------------------------------------------------- */
.texto-interno{

	h1,	h2,	h3,	h4,	h5,	h6{
		font-family: $font-family2;
		font-weight: normal;
		color: $primary-color;
		margin: 0 0 25px 0;

		a{
			color: inherit;
		}
	}

	h1{font-size: 44px;}
	h2{font-size: 40px;}
	h3{font-size: 36px;}
	h4{font-size: 30px;}
	h5{font-size: 24px;}
	h6{font-size: 18px;}

	hr{
		margin: 20px 0;
	}

	p, li{
		font-size: $font-size;
		color: $primary-color;
		color: rgba($primary-color, .7);
		margin: 0 0 25px 0;
		padding: 0;
	}

	p{
		line-height: 25px;
	}

	a{
		color:$primary-color;
		text-decoration:none;
		@include transition;

		&:hover{
			color: $second-color;
		}
	}

	img{
		max-width: 100%;
	}

	ul{
		margin-left: 13px;
	}

	li{
		ul, ol{
			margin-top: 15px;
		}
	}

	ol{
		list-style: decimal;
		margin-left: 20px;
	}

	h1, h2, h3, h4, h5, h6, p, li{
		&:last-child{
			margin-bottom: 0;
		}
	}

	table{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
		td{
			padding: 10px;
			text-align: center;
		}
	}

	.img-left{
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.img-right{
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.columns-2{
		@include columns(2, 30px);
	}

	.columns-3{
		@include columns(3, 30px);
	}

}