/* ---------------------------------------------------------------------- */
/*	Forms
/* ---------------------------------------------------------------------- */
@include placeholder2($primary-color, 14px);

input, textarea, select{
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	background: transparent;
	font-family: $font-family2;
	color: $primary-color;
	@include rem2(14px);
	border: 0;
	outline: none;
	@include border-box;

	&.error{
		background: #FFEAEA !important;
		border-color: $red !important;
		color: $red !important;
	}
}

input, textarea{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select{
	line-height: 43px;
	height: 43px;
}

textarea{
	height: 155px;
}

button{
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
}