/* ---------------------------------------------------------------------- */
/*	Navbar
/* ---------------------------------------------------------------------- */
.navbar{
	li{
		display: inline-block;
	}
}