/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */
@media only screen and (min-width: $large) {
}

@media only screen and (max-width: $medium) {
}

@media only screen and (max-width: $small){
}

@media only screen and (max-width: $mobile) {
}