@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700,500|Hind:400,300,700");/*
	Theme Name: Themes
	Description: Chatbot
	Version: 2.5
	Author: Douglas Iga
	Author E-mail: doug.ishibashi@gmail.com
*//* BOOTSTRAP *//*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

code,kbd,pre,samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before,.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container-fluid:before,.container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -14px;
  margin-right: -14px;
}

.row:before,.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block {
  display: none !important;
}

.visible-print {
  display: none !important;
}

.visible-print-block {
  display: none !important;
}

.visible-print-inline {
  display: none !important;
}

.visible-print-inline-block {
  display: none !important;
}/* HELPERS *//* ---------------------------------------------------------------------- *//*	Settings
/* ---------------------------------------------------------------------- *//* Import Fonts | Font Awesome *//* ---------------------------------------------------------------------- *//*	Settings for Responsive
/* ---------------------------------------------------------------------- *//* ---------------------------------------------------------------------- *//*  Mixin
/* ---------------------------------------------------------------------- *//* ---------------------------------------------------------------------- *//* 
 /* Triangle helper mixin
 /* @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
 /* @param {Color} $color [currentcolor] - Triangle color 
 /* @param {Length} $size [1em] - Triangle size
 /* 
 /* ---------------------------------------------------------------------- *//* ---------------------------------------------------------------------- *//*	Basic Class
/* ---------------------------------------------------------------------- */.trespix-white {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 178px;
  height: 54px;
}

.trespix {
  background-image: url(sprite.png);
  background-position: 0px -54px;
  width: 168px;
  height: 51px;
}

.ico {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/sprite.png);
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.relative {
  position: relative !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.pb-1 {
  padding-bottom: 10px !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.pl-1 {
  padding-left: 10px !important;
}

.pr-1 {
  padding-right: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.pt-2 {
  padding-top: 20px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.ml-3 {
  margin-left: 30px !important;
}

.mr-3 {
  margin-right: 30px !important;
}

.pb-3 {
  padding-bottom: 30px !important;
}

.pt-3 {
  padding-top: 30px !important;
}

.pl-3 {
  padding-left: 30px !important;
}

.pr-3 {
  padding-right: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.mr-4 {
  margin-right: 40px !important;
}

.pb-4 {
  padding-bottom: 40px !important;
}

.pt-4 {
  padding-top: 40px !important;
}

.pl-4 {
  padding-left: 40px !important;
}

.pr-4 {
  padding-right: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.ml-5 {
  margin-left: 50px !important;
}

.mr-5 {
  margin-right: 50px !important;
}

.pb-5 {
  padding-bottom: 50px !important;
}

.pt-5 {
  padding-top: 50px !important;
}

.pl-5 {
  padding-left: 50px !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.mt-6 {
  margin-top: 60px !important;
}

.ml-6 {
  margin-left: 60px !important;
}

.mr-6 {
  margin-right: 60px !important;
}

.pb-6 {
  padding-bottom: 60px !important;
}

.pt-6 {
  padding-top: 60px !important;
}

.pl-6 {
  padding-left: 60px !important;
}

.pr-6 {
  padding-right: 60px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.mt-7 {
  margin-top: 70px !important;
}

.ml-7 {
  margin-left: 70px !important;
}

.mr-7 {
  margin-right: 70px !important;
}

.pb-7 {
  padding-bottom: 70px !important;
}

.pt-7 {
  padding-top: 70px !important;
}

.pl-7 {
  padding-left: 70px !important;
}

.pr-7 {
  padding-right: 70px !important;
}

.mb-8 {
  margin-bottom: 80px !important;
}

.mt-8 {
  margin-top: 80px !important;
}

.ml-8 {
  margin-left: 80px !important;
}

.mr-8 {
  margin-right: 80px !important;
}

.pb-8 {
  padding-bottom: 80px !important;
}

.pt-8 {
  padding-top: 80px !important;
}

.pl-8 {
  padding-left: 80px !important;
}

.pr-8 {
  padding-right: 80px !important;
}

.mb-9 {
  margin-bottom: 90px !important;
}

.mt-9 {
  margin-top: 90px !important;
}

.ml-9 {
  margin-left: 90px !important;
}

.mr-9 {
  margin-right: 90px !important;
}

.pb-9 {
  padding-bottom: 90px !important;
}

.pt-9 {
  padding-top: 90px !important;
}

.pl-9 {
  padding-left: 90px !important;
}

.pr-9 {
  padding-right: 90px !important;
}

.mb-10 {
  margin-bottom: 100px !important;
}

.mt-10 {
  margin-top: 100px !important;
}

.ml-10 {
  margin-left: 100px !important;
}

.mr-10 {
  margin-right: 100px !important;
}

.pb-10 {
  padding-bottom: 100px !important;
}

.pt-10 {
  padding-top: 100px !important;
}

.pl-10 {
  padding-left: 100px !important;
}

.pr-10 {
  padding-right: 100px !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.js-click {
  cursor: pointer;
}

.table-cell {
  display: table-cell;
}/* STRUCTURE *//* ---------------------------------------------------------------------- *//*	Base Elements
/* ---------------------------------------------------------------------- */* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: "Hind", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 15px;
  background: #13c4a3;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

hr {
  height: 1px;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 40px 0;
  background: #636363;
}/* ---------------------------------------------------------------------- *//*	Header
/* ---------------------------------------------------------------------- */.logo,.logo span {
  display: inline-block;
  overflow: hidden;
  width: 168px;
  height: 51px;
  font-size: 0;
}

.logo {
  vertical-align: middle;
}

.logo span {
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../images/trespix.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}/* ---------------------------------------------------------------------- *//*	Footer
/* ---------------------------------------------------------------------- *//* TEXTS *//* ---------------------------------------------------------------------- *//*	Font
/* ---------------------------------------------------------------------- */h1,h2,h3,h4,h5,h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: normal;
  color: #231f20;
  margin: 0;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,li {
  font-size: 14px;
  color: #ffc800;
  margin: 0;
  padding: 0;
}

a {
  color: #231f20;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #ffc800;
}

input,select,textarea,button {
  font-family: "Hind", sans-serif;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
 /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}/* ---------------------------------------------------------------------- *//*	Color
/* ---------------------------------------------------------------------- *//* PLUGINS *//*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer,.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image,.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
  background-image: url("../plugins/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../plugins/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../plugins/fancybox/blank.gif");
 /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}/* Overlay helper */.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../plugins/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}/* Title helper */.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
 /* Fallback for web browsers that doesn't support RGBa */background: rgba(0, 0, 0, 0.8);-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;text-shadow: 0 1px 2px #222;color: #FFF;font-weight: bold;line-height: 24px;white-space: nowrap;}.fancybox-title-outside-wrap {position: relative;margin-top: 10px;color: #fff;}.fancybox-title-inside-wrap {padding-top: 10px;}.fancybox-title-over-wrap {position: absolute;bottom: 0;left: 0;color: #fff;padding: 10px;background: #000;background: rgba(0, 0, 0, 0.8);}/*Retina graphics!*//* TEMPLATE *//* ---------------------------------------------------------------------- *//*	Chat Bot
/* ---------------------------------------------------------------------- */#pix-container {position: relative;height: 95%;width: 100%;max-width: 600px;margin: 0 auto;background: #fff;overflow: hidden;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);}#pix-chat_header {position: relative;padding: 10px 0;text-align: center;z-index: 5;border-bottom: 1px solid #eee;}#pix-chat_main {position: absolute;width: 100%;max-width: 600px;top: 72px;bottom: 0px;z-index: 1;background: #f3f3f3;}#pix-chat_content {overflow-x: hidden;overflow-y: auto;max-height: 100%;padding-bottom: 70px;}#pix-chat_footer {position: absolute;bottom: -100px;left: 0;right: 0;z-index: 10;width: 100%;-webkit-transition: bottom 0.6s ease-out;-moz-transition: bottom 0.6s ease-out;-o-transition: bottom 0.6s ease-out;-ms-transition: bottom 0.6s ease-out;transition: bottom 0.6s ease-out;}#pix-chat_footer.active {bottom: 0;}/* ---------------------------------------------------------------------- *//*	Chat Bot - Message
/* ---------------------------------------------------------------------- */.pix-message {padding: 20px;}.pix-message .pix-message_row:after {content: '';display: block;clear: both;}.pix-message .pix-message_photo figure {display: block;font-size: 0;width: 40px;height: 40px;vertical-align: top;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}.pix-message .pix-message_text {position: relative;vertical-align: top;padding: 0 15px;}.pix-message .pix-message_text > div {width: 100%;padding: 10px;background: #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);}.pix-message .pix-message_text > div p {color: #231f20;}.pix-message .pix-message_text:before {position: absolute;top: 0;}.pix-message .pix-message_footer {padding: 5px 60px 0;}.pix-message .pix-message_footer p {font-size: 11px;font-size: 1.1rem;color: #231f20;}.pix-message .pix-message_footer .pix-message_name {display: none;}.pix-message.pix-from-them .pix-message_photo figure {background: url(../images/trespix-icon.png) 0 0 no-repeat;}.pix-message.pix-from-them .pix-message_text:before {left: 5px;width: 0;height: 0;content: '';z-index: 999;display: inline-block;border-right: 15px solid #fff;border-bottom: 15px solid transparent;border-top: 0 solid transparent;}.pix-message.pix-from-them .pix-message_footer {text-align: left;}.pix-message.pix-from-me .pix-message_photo figure {background: url(../images/trespix-icon.png) 0 0 no-repeat;}.pix-message.pix-from-me .pix-message_photo,.pix-message.pix-from-me .pix-message_text {float: right;}.pix-message.pix-from-me .pix-message_text:before {right: 5px;width: 0;height: 0;content: '';z-index: 999;display: inline-block;border-left: 15px solid #fff;border-bottom: 15px solid transparent;border-top: 0 solid transparent;}.pix-message.pix-from-me .pix-message_footer {text-align: right;}/* ---------------------------------------------------------------------- *//*	Chat Bot - Input
/* ---------------------------------------------------------------------- */.pix-input_group {background: #fff;padding: 10px;margin: 0 30px 20px 30px;border: 1px solid #eee;-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}.pix-input_group:after {content: '';display: block;clear: both;}.pix-input_group .pix-input_content {width: 100%;padding-right: 20px;}/* ---------------------------------------------------------------------- *//*	Chat Bot - Dots
/* ---------------------------------------------------------------------- */.pix-loading_dots {font-size: 0;padding: 10px 0;}.pix-loading_dots span {display: inline-block;width: 12px;height: 12px;margin: 0 2px;background: #ffc800;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;-webkit-animation-name: loading_dots;-moz-animation-name: loading_dots;-ms-animation-name: loading_dots;-o-animation-name: loading_dots;animation-name: loading_dots;-webkit-animation-duration: 1s;-moz-animation-duration: 1s;-ms-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;-webkit-animation-iteration-count: infinite;-moz-animation-iteration-count: infinite;-ms-animation-iteration-count: infinite;-o-animation-iteration-count: infinite;animation-iteration-count: infinite;}.pix-loading_dots .dot-1 {-webkit-animation-delay: 0s;-moz-animation-delay: 0s;-ms-animation-delay: 0s;-o-animation-delay: 0s;animation-delay: 0s;}.pix-loading_dots .dot-2 {-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;-ms-animation-delay: 0.2s;-o-animation-delay: 0.2s;animation-delay: 0.2s;}.pix-loading_dots .dot-3 {-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;-ms-animation-delay: 0.4s;-o-animation-delay: 0.4s;animation-delay: 0.4s;}/* WIDGETS *//* ASSETS *//* ---------------------------------------------------------------------- *//*	Buttons
/* ---------------------------------------------------------------------- */.btn {display: inline-block;padding: 5px 20px;height: auto;color: #fff;background: #fc0c39;font-family: "Hind Siliguri", sans-serif;font-weight: bold;text-transform: uppercase;font-size: 14px;font-size: 1.4rem;text-align: center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}.btn:hover {color: #fff;background: #0d9de7;}/* ---------------------------------------------------------------------- *//*	Navbar
/* ---------------------------------------------------------------------- */.navbar li {display: inline-block;}/* ---------------------------------------------------------------------- *//*	Forms
/* ---------------------------------------------------------------------- */input::-webkit-input-placeholder {color: #231f20;font-family: "Hind Siliguri", sans-serif;font-size: 14px;-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */-webkit-text-size-adjust: 100%;}input:-moz-placeholder {color: #231f20;font-family: "Hind Siliguri", sans-serif;font-size: 14px;-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */-webkit-text-size-adjust: 100%;}input::-moz-placeholder {color: #231f20;font-family: "Hind Siliguri", sans-serif;font-size: 14px;-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */-webkit-text-size-adjust: 100%;}input:-ms-input-placeholder {color: #231f20;font-family: "Hind Siliguri", sans-serif;font-size: 14px;-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */-webkit-text-size-adjust: 100%;}input,textarea,select {display: inline-block;width: 100%;padding: 0;margin: 0;background: transparent;font-family: "Hind Siliguri", sans-serif;color: #231f20;font-size: 14px;font-size: 1.4rem;border: 0;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}input.error,textarea.error,select.error {background: #FFEAEA !important;border-color: #fc0c39 !important;color: #fc0c39 !important;}input,textarea {appearance: none;-moz-appearance: none;-webkit-appearance: none;}select {line-height: 43px;height: 43px;}textarea {height: 155px;}button {border: 0;padding: 0;margin: 0;background: none;}/* ---------------------------------------------------------------------- *//*	CKEditor
/* ---------------------------------------------------------------------- */.texto-interno h1,.texto-interno h2,.texto-interno h3,.texto-interno h4,.texto-interno h5,.texto-interno h6 {font-family: "Hind Siliguri", sans-serif;font-weight: normal;color: #231f20;margin: 0 0 25px 0;}.texto-interno h1 a,.texto-interno h2 a,.texto-interno h3 a,.texto-interno h4 a,.texto-interno h5 a,.texto-interno h6 a {color: inherit;}.texto-interno h1 {font-size: 44px;}.texto-interno h2 {font-size: 40px;}.texto-interno h3 {font-size: 36px;}.texto-interno h4 {font-size: 30px;}.texto-interno h5 {font-size: 24px;}.texto-interno h6 {font-size: 18px;}.texto-interno hr {margin: 20px 0;}.texto-interno p,.texto-interno li {font-size: 14px;color: #231f20;color: rgba(35, 31, 32, 0.7);margin: 0 0 25px 0;padding: 0;}.texto-interno p {line-height: 25px;}.texto-interno a {color: #231f20;text-decoration: none;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}.texto-interno a:hover {color: #ffc800;}.texto-interno img {max-width: 100%;}.texto-interno ul {margin-left: 13px;}.texto-interno li ul,.texto-interno li ol {margin-top: 15px;}.texto-interno ol {list-style: decimal;margin-left: 20px;}.texto-interno h1:last-child,.texto-interno h2:last-child,.texto-interno h3:last-child,.texto-interno h4:last-child,.texto-interno h5:last-child,.texto-interno h6:last-child,.texto-interno p:last-child,.texto-interno li:last-child {margin-bottom: 0;}.texto-interno table {width: 100%;margin-left: auto;margin-right: auto;}.texto-interno table td {padding: 10px;text-align: center;}.texto-interno .img-left {margin-right: 20px;margin-bottom: 20px;}.texto-interno .img-right {margin-left: 20px;margin-bottom: 20px;}.texto-interno .columns-2 {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;}.texto-interno .columns-3 {-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;}/* ---------------------------------------------------------------------- *//*	Mobile
/* ---------------------------------------------------------------------- *//* ---------------------------------------------------------------------- *//*	Media Queries
/* ---------------------------------------------------------------------- */@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {background-image: url("../plugins/fancybox/fancybox_sprite@2x.png");background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/}#fancybox-loading div {background-image: url("../plugins/fancybox/fancybox_loading@2x.gif");background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/}}@media (min-width: 768px) {.container {width: 748px;}.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {float: left;}.col-sm-1 {width: 8.33333%;}.col-sm-2 {width: 16.66667%;}.col-sm-3 {width: 25%;}.col-sm-4 {width: 33.33333%;}.col-sm-5 {width: 41.66667%;}.col-sm-6 {width: 50%;}.col-sm-7 {width: 58.33333%;}.col-sm-8 {width: 66.66667%;}.col-sm-9 {width: 75%;}.col-sm-10 {width: 83.33333%;}.col-sm-11 {width: 91.66667%;}.col-sm-12 {width: 100%;}.col-sm-pull-0 {right: auto;}.col-sm-pull-1 {right: 8.33333%;}.col-sm-pull-2 {right: 16.66667%;}.col-sm-pull-3 {right: 25%;}.col-sm-pull-4 {right: 33.33333%;}.col-sm-pull-5 {right: 41.66667%;}.col-sm-pull-6 {right: 50%;}.col-sm-pull-7 {right: 58.33333%;}.col-sm-pull-8 {right: 66.66667%;}.col-sm-pull-9 {right: 75%;}.col-sm-pull-10 {right: 83.33333%;}.col-sm-pull-11 {right: 91.66667%;}.col-sm-pull-12 {right: 100%;}.col-sm-push-0 {left: auto;}.col-sm-push-1 {left: 8.33333%;}.col-sm-push-2 {left: 16.66667%;}.col-sm-push-3 {left: 25%;}.col-sm-push-4 {left: 33.33333%;}.col-sm-push-5 {left: 41.66667%;}.col-sm-push-6 {left: 50%;}.col-sm-push-7 {left: 58.33333%;}.col-sm-push-8 {left: 66.66667%;}.col-sm-push-9 {left: 75%;}.col-sm-push-10 {left: 83.33333%;}.col-sm-push-11 {left: 91.66667%;}.col-sm-push-12 {left: 100%;}.col-sm-offset-0 {margin-left: 0%;}.col-sm-offset-1 {margin-left: 8.33333%;}.col-sm-offset-2 {margin-left: 16.66667%;}.col-sm-offset-3 {margin-left: 25%;}.col-sm-offset-4 {margin-left: 33.33333%;}.col-sm-offset-5 {margin-left: 41.66667%;}.col-sm-offset-6 {margin-left: 50%;}.col-sm-offset-7 {margin-left: 58.33333%;}.col-sm-offset-8 {margin-left: 66.66667%;}.col-sm-offset-9 {margin-left: 75%;}.col-sm-offset-10 {margin-left: 83.33333%;}.col-sm-offset-11 {margin-left: 91.66667%;}.col-sm-offset-12 {margin-left: 100%;}}@media (min-width: 768px) and (max-width: 991px) {.visible-sm {display: block !important;}table.visible-sm {display: table !important;}tr.visible-sm {display: table-row !important;}th.visible-sm,td.visible-sm {display: table-cell !important;}.visible-sm-block {display: block !important;}.visible-sm-inline {display: inline !important;}.visible-sm-inline-block {display: inline-block !important;}.hidden-sm {display: none !important;}}@media (min-width: 992px) {.container {width: 968px;}.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {float: left;}.col-md-1 {width: 8.33333%;}.col-md-2 {width: 16.66667%;}.col-md-3 {width: 25%;}.col-md-4 {width: 33.33333%;}.col-md-5 {width: 41.66667%;}.col-md-6 {width: 50%;}.col-md-7 {width: 58.33333%;}.col-md-8 {width: 66.66667%;}.col-md-9 {width: 75%;}.col-md-10 {width: 83.33333%;}.col-md-11 {width: 91.66667%;}.col-md-12 {width: 100%;}.col-md-pull-0 {right: auto;}.col-md-pull-1 {right: 8.33333%;}.col-md-pull-2 {right: 16.66667%;}.col-md-pull-3 {right: 25%;}.col-md-pull-4 {right: 33.33333%;}.col-md-pull-5 {right: 41.66667%;}.col-md-pull-6 {right: 50%;}.col-md-pull-7 {right: 58.33333%;}.col-md-pull-8 {right: 66.66667%;}.col-md-pull-9 {right: 75%;}.col-md-pull-10 {right: 83.33333%;}.col-md-pull-11 {right: 91.66667%;}.col-md-pull-12 {right: 100%;}.col-md-push-0 {left: auto;}.col-md-push-1 {left: 8.33333%;}.col-md-push-2 {left: 16.66667%;}.col-md-push-3 {left: 25%;}.col-md-push-4 {left: 33.33333%;}.col-md-push-5 {left: 41.66667%;}.col-md-push-6 {left: 50%;}.col-md-push-7 {left: 58.33333%;}.col-md-push-8 {left: 66.66667%;}.col-md-push-9 {left: 75%;}.col-md-push-10 {left: 83.33333%;}.col-md-push-11 {left: 91.66667%;}.col-md-push-12 {left: 100%;}.col-md-offset-0 {margin-left: 0%;}.col-md-offset-1 {margin-left: 8.33333%;}.col-md-offset-2 {margin-left: 16.66667%;}.col-md-offset-3 {margin-left: 25%;}.col-md-offset-4 {margin-left: 33.33333%;}.col-md-offset-5 {margin-left: 41.66667%;}.col-md-offset-6 {margin-left: 50%;}.col-md-offset-7 {margin-left: 58.33333%;}.col-md-offset-8 {margin-left: 66.66667%;}.col-md-offset-9 {margin-left: 75%;}.col-md-offset-10 {margin-left: 83.33333%;}.col-md-offset-11 {margin-left: 91.66667%;}.col-md-offset-12 {margin-left: 100%;}}@media (min-width: 992px) and (max-width: 1199px) {.visible-md {display: block !important;}table.visible-md {display: table !important;}tr.visible-md {display: table-row !important;}th.visible-md,td.visible-md {display: table-cell !important;}.visible-md-block {display: block !important;}.visible-md-inline {display: inline !important;}.visible-md-inline-block {display: inline-block !important;}.hidden-md {display: none !important;}}@media (min-width: 1200px) {.container {width: 1168px;}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {float: left;}.col-lg-1 {width: 8.33333%;}.col-lg-2 {width: 16.66667%;}.col-lg-3 {width: 25%;}.col-lg-4 {width: 33.33333%;}.col-lg-5 {width: 41.66667%;}.col-lg-6 {width: 50%;}.col-lg-7 {width: 58.33333%;}.col-lg-8 {width: 66.66667%;}.col-lg-9 {width: 75%;}.col-lg-10 {width: 83.33333%;}.col-lg-11 {width: 91.66667%;}.col-lg-12 {width: 100%;}.col-lg-pull-0 {right: auto;}.col-lg-pull-1 {right: 8.33333%;}.col-lg-pull-2 {right: 16.66667%;}.col-lg-pull-3 {right: 25%;}.col-lg-pull-4 {right: 33.33333%;}.col-lg-pull-5 {right: 41.66667%;}.col-lg-pull-6 {right: 50%;}.col-lg-pull-7 {right: 58.33333%;}.col-lg-pull-8 {right: 66.66667%;}.col-lg-pull-9 {right: 75%;}.col-lg-pull-10 {right: 83.33333%;}.col-lg-pull-11 {right: 91.66667%;}.col-lg-pull-12 {right: 100%;}.col-lg-push-0 {left: auto;}.col-lg-push-1 {left: 8.33333%;}.col-lg-push-2 {left: 16.66667%;}.col-lg-push-3 {left: 25%;}.col-lg-push-4 {left: 33.33333%;}.col-lg-push-5 {left: 41.66667%;}.col-lg-push-6 {left: 50%;}.col-lg-push-7 {left: 58.33333%;}.col-lg-push-8 {left: 66.66667%;}.col-lg-push-9 {left: 75%;}.col-lg-push-10 {left: 83.33333%;}.col-lg-push-11 {left: 91.66667%;}.col-lg-push-12 {left: 100%;}.col-lg-offset-0 {margin-left: 0%;}.col-lg-offset-1 {margin-left: 8.33333%;}.col-lg-offset-2 {margin-left: 16.66667%;}.col-lg-offset-3 {margin-left: 25%;}.col-lg-offset-4 {margin-left: 33.33333%;}.col-lg-offset-5 {margin-left: 41.66667%;}.col-lg-offset-6 {margin-left: 50%;}.col-lg-offset-7 {margin-left: 58.33333%;}.col-lg-offset-8 {margin-left: 66.66667%;}.col-lg-offset-9 {margin-left: 75%;}.col-lg-offset-10 {margin-left: 83.33333%;}.col-lg-offset-11 {margin-left: 91.66667%;}.col-lg-offset-12 {margin-left: 100%;}.visible-lg {display: block !important;}table.visible-lg {display: table !important;}tr.visible-lg {display: table-row !important;}th.visible-lg,td.visible-lg {display: table-cell !important;}.visible-lg-block {display: block !important;}.visible-lg-inline {display: inline !important;}.visible-lg-inline-block {display: inline-block !important;}.hidden-lg {display: none !important;}}@media screen and (max-width: 991px) {h1 {font-size: 36px;}h2 {font-size: 32px;}h3 {font-size: 28px;}h4 {font-size: 22px;}h5 {font-size: 16px;}h6 {font-size: 10px;}.btn {max-width: 100%;}}@media (max-width: 767px) {.visible-xs {display: block !important;}table.visible-xs {display: table !important;}tr.visible-xs {display: table-row !important;}th.visible-xs,td.visible-xs {display: table-cell !important;}.visible-xs-block {display: block !important;}.visible-xs-inline {display: inline !important;}.visible-xs-inline-block {display: inline-block !important;}.hidden-xs {display: none !important;}}@media print {.visible-print {display: block !important;}table.visible-print {display: table !important;}tr.visible-print {display: table-row !important;}th.visible-print,td.visible-print {display: table-cell !important;}.visible-print-block {display: block !important;}.visible-print-inline {display: inline !important;}.visible-print-inline-block {display: inline-block !important;}.hidden-print {display: none !important;}}@keyframes loading_dots {0% {-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}25% {-webkit-transform: translateY(-10px);-moz-transform: translateY(-10px);-o-transform: translateY(-10px);transform: translateY(-10px);}75% {-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}100% {-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);transform: translateY(0px);}}
