/* ---------------------------------------------------------------------- */
/*	Base Elements
/* ---------------------------------------------------------------------- */
*{
  @include border-box;
}

// REM Adjust
html{
	font-size: 62.5%;
	height: 100%;
	min-height: 100%;
}

body{
  height: 100%;
  font-family: $font-family;
  @include rem(font-size, $font-size);
  color:$primary-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 15px;
  background: $five-color;
}

img{
	vertical-align: middle;
	max-width: 100%;
}

figure{
	padding: 0;
	margin: 0;
}

hr{
	height: 1px;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 40px 0;
	background: $border-color;
}