/* ---------------------------------------------------------------------- */
/*	Header
/* ---------------------------------------------------------------------- */
.logo, .logo span{
	display: inline-block;
	overflow: hidden;
	width: $logo-width;
	height: $logo-height;
	font-size: 0;
}

.logo{
	vertical-align: middle;
	
	span{
		text-indent: -9999px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: $logo-image;
		@include background-size(contain);
	}
}