/* ---------------------------------------------------------------------- */
/*	Chat Bot - Input
/* ---------------------------------------------------------------------- */
.pix-input_group{
	background: #fff;
	padding: 10px;
	margin: 0 30px 20px 30px;
	border: 1px solid #eee;
	@include box-shadow(0 3px 3px rgba(#000, .1));
	@include border-radius(5px);
	@include clearfix2;

	.pix-input_content{
		width: 100%;
		padding-right: 20px;
	}
}