/* ---------------------------------------------------------------------- */
/*	Chat Bot - Message
/* ---------------------------------------------------------------------- */
.pix-message{
	padding: 20px;

	.pix-message_row{
		@include clearfix2;
	}

	.pix-message_photo{
		figure{
			display: block;
			font-size: 0;
			width: 40px;
			height: 40px;
			vertical-align: top;
			@include border-radius(50%);
		}
	}

	.pix-message_text{
		position: relative;
		vertical-align: top;
		padding: 0 15px;

		> div{
			width: 100%;
			padding: 10px;
			background: #fff;
			@include border-radius(5px);
			@include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));

			p{
				color: $primary-color;
			}
		}

		&:before{
			position: absolute;
			top: 0;
		}
	}

	.pix-message_footer{
		padding: 5px 60px 0;
		p{
			@include rem2(11px);
			color: $primary-color;
		}

		.pix-message_name{
			display: none;
		}
	}

	&.pix-from-them{
		.pix-message_photo{
			figure{
				background: url(../images/trespix-icon.png) 0 0 no-repeat;
			}
		}
		.pix-message_text{
			&:before{
				left: 5px;
				@include triangle(left, #fff, 15px, 15px, 0);
			}
		}
		.pix-message_footer{
			text-align: left;
		}
	}

	&.pix-from-me{
		.pix-message_photo{
			figure{
				background: url(../images/trespix-icon.png) 0 0 no-repeat;
			}
		}
		.pix-message_photo, .pix-message_text{
			float: right;
		}

		.pix-message_text{
			&:before{
				right: 5px;
				@include triangle(right, #fff, 15px, 15px, 0);
			}
		}

		.pix-message_footer{
			text-align: right;
		}
	}
}