/* ---------------------------------------------------------------------- */
/*	Chat Bot - Dots
/* ---------------------------------------------------------------------- */
.pix-loading_dots{
	font-size: 0;
	padding: 10px 0;
	span{
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 2px;
		background: $second-color;
		@include border-radius(50%);
		@include prefix(animation-name, loading_dots);
		@include prefix(animation-duration, 1s);
		@include prefix(animation-iteration-count, infinite);
	}

	.dot-1{@include prefix(animation-delay, 0s);}
	.dot-2{@include prefix(animation-delay, .2s);}
	.dot-3{@include prefix(animation-delay, .4s);}
}

@keyframes loading_dots {
    0%   {
    	@include transform(translateY(0px));
    }
    25%  {
    	@include transform(translateY(-10px));
    }
    75% {
    	@include transform(translateY(0px));
    }
    100% {
    	@include transform(translateY(0px));
    }
}