/* ---------------------------------------------------------------------- */
/*	Chat Bot
/* ---------------------------------------------------------------------- */
#pix-container{
	position: relative;
	height: 95%;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	@include border-radius(8px);
	@include box-shadow(0 10px 10px rgba(#000, .1));
}

#pix-chat_header{
	position: relative;
	padding: 10px 0;
	text-align: center;
	z-index: 5;
	border-bottom: 1px solid #eee;
}

#pix-chat_main{
	position: absolute;
	width: 100%;
	max-width: 600px;
	top: 72px;
	bottom: 0px;
	z-index: 1;
	background: #f3f3f3;
}

#pix-chat_content{
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
	padding-bottom: 70px;
}

#pix-chat_footer{
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	@include transition(bottom, .6s);

	&.active{
		bottom: 0;
	}
}